body {
	background-image: url("Images/Space_parallax.webp");
	font-family: Klee-One;
	font-size:16px;
}

@font-face {
	font-family: Klee-One;
	src: url("KleeOne-Regular.ttf");
}

ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

li {
	background-color:white;
	border-style: solid;
	margin-right:10px;
	padding: 10px;
	border-width:1px;
}


#header {
	margin:auto;
	background-color:black;
	color:white;
}

#container {
	margin:auto;
}

#main-menu {
	padding: 10px;
	margin-top: 10%;
	margin-left: 10%;
	margin-right:10%;
	margin-bottom: 25%;
}

.main-menu-button {
	float:left;
	width: 16.66%;
	height: 16.66%;
}

.main-menu-img {
	margin-left:10%;
	margin-right:20%;
	width: 100%;
}


#content {
	background-color:white;
	border-style: solid;
	border-width:1px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3em;
	margin-left:150px;
	margin-right:80px;
}





#menu {
	position:absolute;
	top:0;
	left:0;
	width:150px;
}

#main-menu-button {
	background-color:#edccff;
}

#footer {
	height:10px;
	background-color: #F1F1F1;
	text-align: center;
	padding: 10px;
}
