body {
	
	background-image: url("Images/Space_parallax.webp");
	font-family: Klee-One;
	font-size:16px;
	margin-top:5px;
	margin-left:12%;
	margin-right:12%;
}

#sub-body {
	outline-style:solid;
	background-color:white;
}

@font-face {
	font-famliy: Klee-One;
	src: url=("KleeOne-Regular.ttf");
}

#header{
	margin:14% 0% 0% 0%;
}

#header h1{
	margin:5% 4%;
	padding-top:10px;
}

#container {
	margin-bottom:4%;
}

#main-menu {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
}

#main-menu li{
	display:inline-block;
	padding:0px;
}

#main-menu p {
	margin-top:-5px;
}

#main-menu img{
	width:148px;
	height:126px;
}

#content {
	margin:25px 0px;
	padding:10px;
	width:60%;
	float:left;
	outline-style:solid;
	background-color:white;
}

#content > div#footer

#content > div#footer {
	margin:-26px -10px;
}

#sub-menu {
	position:sticky;
	top: 10px;
	float:left;
	list-style:none;
}
	
#sub-menu li{
	outline-style:solid;
	background-color:white;
	margin:10px;
	padding:0px;
}

#sub-menu h1 {
	padding:10px;
	margin:0px;
}

#sub-menu p {
	padding:10px;
	margin-left:5px;
	float:right;
}

#sub-menu img{
	width:74px;
	height:63px;
}
#footer {	
	text-align:center;
	background-color:LightGray;
}
